[2013-12-16 22:36] garenor opened #3 "Support Laravel 4.0 broken"
With the latest update to the repo, support for laravel 4.0 has been dropped, en because there is no versioning or branches in your project, I am not able to install an earlier version. Can this be fixed?

[2013-12-17 00:07] #3 closed, assigned to nobody

[2014-02-04 01:58] Bogardo opened #5 "Switch to using MessageBuilder"
Instead of creating the message and attachment _by hand_ before sending, switch to using the MessageBuilder class.

[2014-02-04 02:01] Bogardo opened #6 "Add ability to rename attachments"
In mailgun-php:1.6 the ability to rename attachments has been added. See [Pull Request 29](https://github.com/mailgun/mailgun-php/pull/29)
Add the renaming ability to this package.

[2014-02-08 01:38] #6 closed, assigned to Bogardo

[2014-02-13 17:02] ghost opened #7 "Sending to multiple recipients"
What's the best way to send an email to multiple recipients?

Ideally, I'd like to be able to pass an array of email addresses to the $message->to() function, like you can using Laravel's default Mail object.

[2014-02-15 04:09] #7 closed, assigned to Bogardo

[2014-02-17 17:23] ghost opened #8 "Recipients from previous messages included in new messages"
Hi again :)

There seems to be a bug when multiple emails are sent - in the example code below, the first email is correctly sent to one@example.com, but the second email is incorrectly sent to both one@example.com and two@example.com. It should, of course, only be sent to two@example.com

[code]

[2014-02-17 20:54] #8 closed, assigned to nobody

[2014-02-22 16:45] kirkbushell opened #10 "No issue, just a thanks!"
Was super easy to drop this in and change the application Mail alias and update all our mailgun sends (SMTP is way too slow). Thanks! :)

[2014-03-01 13:32] #10 closed, assigned to nobody

[2014-03-15 21:03] kJamesy opened #11 "Support for recipient variables when batch-sending"
From the manual: http://documentation.mailgun.com/user_manual.html#batch-sending when batch-sending, Mailgun only knows to send emails to individual recipients (i.e. one recipient in the 'to' field) when you use recipient variables. Batch sending has an advantage over using the Mailgun::send in a loop since there's only one API call with the former therefore less loading time for the user. And the

[2014-03-16 01:12] #11 closed, assigned to Bogardo

[2014-03-24 02:28] Bogardo opened #12 "Add email validation feature"
Mailgun [just launched](http://blog.mailgun.com/post/free-email-validation-api-for-web-forms/) a new email validation service called `Guardpost` which provides the following features:
- Syntax checks (RFC defined grammar)
- DNS validation
- Spell checks
- Email Service Provider (ESP) specific local-part grammar (if available).

Documentation:
http://documentation.mailgun.com/api-email-validation.h

[2014-03-24 02:34] #5 closed, assigned to Bogardo

[2014-04-04 10:28] CalamityJames opened #14 "Add support for queues"
While working on the project I use Mailgun for, we've come across a slight issue.

Although Mailgun is a lot faster than using plain old SMTP to send emails, it still induces quite a delay at one stage of the process, basically we need to send custom emails out to (possibly) hundreds of people at one time.

One feature of Mail that this package doesnt replicate is `Mail::queue`. It would be super

[2014-04-13 23:32] Bogardo opened #15 "Add support for custom data"
See [Mailgun Documentation](http://documentation.mailgun.com/user_manual.html#attaching-data-to-messages)

Proposed format:

[code]

Where the value will be json encoded

[2014-04-13 23:48] #15 closed, assigned to Bogardo

[2014-04-14 00:28] #12 closed, assigned to Bogardo

[2014-04-14 11:05] ghost opened #16 "Mailing list subscribe/unsubscribe"
This is a feature request....would like to request the ability to subscribe and unsubscribe an email address...maybe something like this

Mailgun::subscribe('emailaddress@domain.com', 'mailing list name')

Mailgun::unsubscribe('emailaddress@domain.com', 'mailing list name')

[2014-05-12 21:02] adamnyberg opened #17 "Password Reminders"
Is there a simple way to use this Mailgun HTTP instead of standard Mail in Password Reminders & Reset (http://laravel.com/docs/security#password-reminders-and-reset)?

[2014-05-23 08:07] #17 closed, assigned to nobody

[2014-06-11 01:24] GrandadEvans opened #19 "Unable to get Campaigns working"
Hi Bogardo,

Thanks for this brilliant tool but I am hoping you could give me an example of how to include a campaign id. I have had a number of attempts but I cannot get it right.

Neither of these work and I'm hoping you can point me in the right direction (I would have asked on the Laravel forum but it is moving and laravel.io isn't working).

[code]

Thanks in advance and Thanks again for the

[2014-06-11 19:28] #19 closed, assigned to nobody

[2014-06-12 00:17] #14 closed, assigned to nobody

[2014-06-23 18:30] ridvanbaluyos opened #20 "Question on Mailgun Endpoint URL"
Hi,

First of all, thank you for this awesome package. Very easy to use!

However, I have a question. On my local machine, the sending of email works perfectly fine. However when I deployed it to my test server, I keep getting the ff. error:

Mailgun \ Connection \ Exceptions \ MissingEndpoint
The endpoint you've tried to access does not exist. Check your URL.

Is there anything that I miss or I h

[2014-06-24 07:11] flexthemes opened #21 "Unable get mailgun into my app"
Could not parse version constraint v2._: Invalid version string "v2._" while composer update. any solution ?

[2014-06-24 09:12] #21 closed, assigned to nobody

[2014-06-25 01:49] flexthemes opened #22 "check email sent successfully?"
what code can i use in Mailgun:: to check email sent successfully?

[2014-06-27 11:56] #22 closed, assigned to nobody

[2014-06-28 15:34] #20 closed, assigned to nobody

[2014-07-04 03:58] rbscholtus opened #23 "Additional config"
I recommend adding one small thing to the configuration, i.e.

Add the following alias to the aliases array in your app/config/app.php file.
 'Mailgun' => 'Bogardo\Mailgun\Facades\Mailgun'

It's easier to "use Mailgun" this way. Thanks.

[2014-07-12 17:55] #23 closed, assigned to nobody

[2014-08-01 15:17] dustingraham opened #27 "Composer does not like "v""
"bogardo/mailgun": "v3.0.*"
"bogardo/mailgun": "v2.*"

Should be

"bogardo/mailgun": "3.0.*"
"bogardo/mailgun": "2.*"

[code]

[2014-08-07 13:53] #27 closed, assigned to nobody

[2014-08-13 14:45] salisuwy opened #28 "Lacking List features"
Hey,
I like your package. kindly add List support (i.e. Adding to List, removing, updating etc)

Cheeers!

[2014-09-23 22:06] jayefel opened #29 "Plain text emails"
Hi,

With Laravel's Maill class you can send plain text emails like this:

[code]

Is there a way to do this with Mailgun::?
I get a setBody() error atm.

[2014-11-26 19:25] #29 closed, assigned to nobody

[2014-11-28 00:37] ghost opened #31 "Issue using To foreach loop"
the address gets sent to everyone, instead of to each individual person.

So, instead of evan@example.com, and another message to evan@test.com, it sends one message to evan@example.com, evan@test.com

Is there a way to avoid this? Right now the foreach is inside mailgun, should it be moved out?

[2014-11-28 01:17] #31 closed, assigned to Bogardo

[2014-11-29 17:43] #16 closed, assigned to nobody

[2014-11-29 17:44] #28 closed, assigned to nobody

[2014-12-03 05:09] Kryptonit3-zz opened #32 "Lists not working for me."
I upgraded to the latest. - `Installing bogardo/mailgun (v3.1.2)`

Error
    Call to undefined method Bogardo\Mailgun\Mailgun\Lists::member()

myCode
    $mail = Mailgun::lists()->member("my@mailing.list", "actualuserinlist@email.com");
    print_r($mail);

Also tried

myCode
    Mailgun::lists()->members("my@mailing.list");

Error
    Call to undefined method Bogardo\Mailgun\Mailgun\Lists::member

[2014-12-03 06:21] #32 closed, assigned to nobody

[2014-12-03 16:05] Kryptonit3-zz opened #33 "Credentials incorrect"
When you have time can you help me figure this out? I have installed this properly and now I can't get it to work. Says "Credentials Incorrect". I have published the package, filled out the config.php properly. Have no idea why it is not working.

Any ideas on what I could try?

[2014-12-11 13:24] saaa-hsjgrobler opened #34 "Support for recipient variables"
I'm using the batch sending mode and I'd like to fill in certain fields like "First Name", "Title" etc.

The mailgun docs says it's possible by using recipient variables here: http://documentation.mailgun.com/user_manual.html#batch-sending

So far I've tried to use the $message->data('key', 'value') and then %recipient.yourkey% in testing but the values are not filled in.

Has anyone had sucess wi

[2014-12-11 13:41] #34 closed, assigned to nobody

[2014-12-11 23:31] #33 closed, assigned to nobody

[2014-12-13 22:54] Bogardo opened #35 "[Insight] User specific files should not appear in .gitignore - in .gitignore, line 4"
**[in .gitignore, line 4](https://github.com/Bogardo/Mailgun/blob/master/.gitignore#L4)**

[code]

---

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/f2a140a9-ec43-45f1-a584-7caf998a2846/analyses/2?status=violations)_

[2014-12-13 22:55] Bogardo opened #36 "[Insight] Commented code should not be commited - in src/Bogardo/Mailgun/Mailgun.php, line 100"
**[in src/Bogardo/Mailgun/Mailgun.php, line 100](https://github.com/Bogardo/Mailgun/blob/master/src/Bogardo/Mailgun/Mailgun.php#L100)**

[code]

---

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/f2a140a9-ec43-45f1-a584-7caf998a2846/analyses/2?status=violations)_

[2014-12-13 22:55] Bogardo opened #37 "[Insight] The composer.json file should not raise warnings - in composer.json, line 0"
**[in composer.json](https://github.com/Bogardo/Mailgun/blob/master/composer.json#L0)**

---

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/f2a140a9-ec43-45f1-a584-7caf998a2846/analyses/2?status=violations)_

[2014-12-13 23:31] #35 closed, assigned to nobody

[2014-12-13 23:31] #36 closed, assigned to nobody

[2014-12-13 23:31] #37 closed, assigned to nobody

[2014-12-30 00:12] tomswinkels opened #38 "Create some campaign"
Hi,

Is there some option for create a campaign in this plugin?

Thanks,

Tom

[2014-12-30 08:53] #38 closed, assigned to nobody

[2015-01-03 05:07] ivkean opened #39 "The parameters passed to the API were invalid. Check your inputs!"
Hello,
This is my code:

[code]

But it show error which is:
The parameters passed to the API were invalid. Check your inputs!
Can you explain ?
Thank you

[2015-01-03 14:06] Bogardo commented on #39
Hi @ivkean,
Do you have a mail.blade.php template in your views directory?

[2015-01-03 14:39] ivkean commented on #39
yes, and it's code:
{{ $customer  }}

[2015-01-03 16:42] Bogardo commented on #39
All required fields in the configuration file are entered?
https://github.com/Bogardo/Mailgun#configuration

[2015-01-06 01:29] Bogardo commented on #39
@ivkean Have you managed to solve the issue?

[2015-01-06 03:27] ivkean commented on #39
@Bogardo
Not yet, i set up mailgun account free. Is that why i can not send mail ?

[2015-01-13 18:46] CupOfTea696 commented on #39
I have the same issue. I checked my config file a million times. I always get those kinds of errors.

[2015-01-13 19:18] CupOfTea696 commented on #39
I tried to make a list with all parameters, to see if that would help.

![screen shot 2015-01-13 at 20 15 52](https://cloud.githubusercontent.com/assets/7327050/5727164/4123cad4-9b61-11e4-9629-e7fe5e05aa61.png)
![screen shot 2015-01-13 at 20 15 08](https://cloud.githubusercontent.com/assets/7327050/5727171/4b7eeebe-9b61-11e4-95a0-acbcad099215.png)

[2015-01-13 19:24] CupOfTea696 commented on #39
I found the error. The problem is that the Mailgun-PHP package just throws that exception and disregards the data it gets. I edited the file where the error was and just did a `var_dump()` of the response it actually gets. Here's what came out:

[code]

Maybe you could find a way to catch the exception and add the data from the response? Because otherwise with errors like this you just have no clu

[2015-01-13 19:29] Bogardo commented on #39
@CupOfTea696 I'm glad you found the problem.
What kind of list 'address' did you create in the Mailgun Control Panel?

[2015-01-13 19:50] Bogardo commented on #39
@CupOfTea696 I see you're already creating a PR on the mailgun/mailgun-php repo.
https://github.com/mailgun/mailgun-php/issues/71#issuecomment-69805335

They should probably do something like this:
[code]

[2015-01-13 19:56] CupOfTea696 commented on #39
Yeah, that's pretty close to what I have. I'll create a pull request in a sec.

[2015-01-13 19:57] Bogardo commented on #39
@CupOfTea696 There is no need to add this to the `EXCEPTION_INVALID_CREDENTIALS ` and `EXCEPTION_MISSING_ENDPOINT ` these fine the way they are. Just the `EXCEPTION_MISSING_REQUIRED_PARAMETERS ` should do.

[2015-01-13 20:14] CupOfTea696 commented on #39
Trust me, I had a 404 error earlier which I wouldn't have figured out if it wasn't for the response data. It just said the url was wrong, while the actual problem was that I was trying to get() a list that didn't exist (because I thought you could check if the list existed that way but instead it throws this error).

[2015-01-13 20:24] Bogardo commented on #39
The `InvalidCredentials` exception returns the message `"Your credentials are incorrect."` which should be sufficient.
The `MissingEndpoint` exception does return the message `Mailing list abc@abc.com not found` when trying to get a non-existent resource.

But when you try to access a completely non-existent url/path like `/test` you get the following response:
![error](https://cloud.githubusercon

[2015-01-14 12:12] #39 closed

[2015-01-26 18:58] ayyobro opened #41 "Wrong message id for email header causing emails to go straight to spam in some servers"
Some emails that I send keep getting put into the spam folders of some email servers.
I poured through your docs to maybe pinpoint the issue, but could not.

I contacted Mailgun support to maybe shed some light on the issue, and they said it could be that my 'message-id' in my email header is wrong since it shows 'Message-Id: <282dc62aa198e497a5358f0aeeff56da@localhost>. He mentioned that it shoul

[2015-01-26 19:22] Bogardo commented on #41
Hi,
Could you please post a snippet of your code so I can try to reproduce it.

[2015-01-26 21:18] ayyobro commented on #41
Hey,

Figured out the problem.

While configuring mailgun I set 'secret' to the mailgun password as opposed to the actual secret api key.

This is what seemed to be causing the issue since, after I changed it to the secret api key, it all works now and no mail goes to spam on my users mail servers.

Excuse my ignorance and thanks for your great package!

[2015-01-26 21:18] #41 closed

[2015-01-27 00:47] Bogardo commented on #41
@ayyobro Glad you solved your issue.

[2015-01-29 08:41] lightwalkernet opened #42 "Laravel 5"
I realize laravel 5 is not yet released but we are getting very close. Would be really great to have the Mailgun package working with laravel 5 when it's released. Your package is such a great package. Many thanks for all you work. It's been a life saver.

[2015-02-05 15:25] GodsBest opened #43 "Bogardo/Mailgun and Password Reminders - Class 'Bogardo\Mailgun\MailgunApi' not found"
I have used this package several times on a number of projects but this is the first time I am using with Password Reminders.

I followed the instructions given here: http://bogardo.com/mailgun-and-password-reminders/. I had issues with creating a namespace for the two new files but I had that resolved by using the autoload section of `composer.json`. Now, when I load the reminder form supply my e

[2015-02-11 14:49] BCleverly commented on #42
+1, Need the functionality for a project being worked on at the moment.

[2015-02-11 22:02] Bogardo commented on #43
@GodsBest Have you managed to resolve this issue yet? If you haven't please let me know and I'll take a look at it. Sorry for the delay.

[2015-02-11 22:07] Bogardo commented on #42
I'm definitely planning on making this package compatible with Laravel 5 but unfortunately I haven't found the time to do it yet.
Note that Laravel 5 now has better [support for Mailgun](http://laravel.com/docs/5.0/mail) out of the box, though still limited to only send emails (without tags, campaigns etc.)

[2015-02-12 14:28] GodsBest commented on #43
@Bogardo,  thanks for getting back to me. No this is not solved yet. I decided to uninstall the package so at least I can continue with the other aspects of my project.

[2015-02-12 14:30] Bogardo commented on #43
@GodsBest I'll try to implement the password reminders myself in the coming days to see if I stumble upon the same issue.

[2015-02-12 15:14] GodsBest commented on #43
@Bogardo I'll be looking forward to your findings and whatever solution you may come up with. Thank you.

[2015-02-18 07:11] juneril opened #44 "callback for Mailgun::send function if it is send or fails"
sir please help me to have method so that i can  know that the message are sent or fails so that i can apply callbacks response  Example method "Mailgun::failures()"

[code]

[2015-02-19 18:39] Bogardo commented on #43
@GodsBest I've just setup a clean Laravel 4.2 installation with just the this package and I followed my own tutorial to setup the reminders and it seems to work fine.
Could you please provide me the contents of your composer.json.

[2015-02-19 18:50] Bogardo commented on #44
Hi @juneril
The Mailgun::send() method already returns the result.

[code]

[2015-02-19 19:48] GodsBest commented on #43
@Bogardo the contents of my composer.json are as below:

`{
        "name": "laravel/laravel",
        "description": "The Laravel Framework.",
        "keywords": ["framework", "laravel"],
        "license": "MIT",
        "type": "project",
        "require": {
                "laravel/framework": "4.2.*",
                "guzzlehttp/guzzle": "~4.0",
                "intervention/image": "~2.1",

[2015-02-19 21:59] Bogardo commented on #43
Seems ok to me. Hop on over to https://gitter.im/Bogardo/Mailgun if you can.

[2015-02-20 07:05] juneril commented on #44
thanks for the quick response sir,

[2015-02-20 09:53] #44 closed

[2015-02-22 22:25] Bogardo commented on #43
@GodsBest What's the status on this?

[2015-02-26 22:35] #43 closed

[2015-02-27 15:22] GodsBest commented on #43
@Bogardo Release 3.1.6 does indeed fix the issue. Thank you very much.

[2015-03-21 22:39] ddewit commented on #42
+1

[2015-04-02 21:04] diegoaguilar opened #45 "Is this mailun v3 API compatible?"
I just noticed they're releasing a new API version, is it compatible?

[2015-04-03 23:12] Bogardo commented on #45
It should be.
This package does not communicate with the API directly but instead uses the (official) [Mailgun PHP](https://github.com/mailgun/mailgun-php) library.

[2015-04-06 23:06] #45 closed

[2015-04-08 07:04] theblindfrog commented on #42
+1

[2015-04-22 00:39] codivist opened #46 "size limits in the data array?"
When sending emails, one of my email methods has a couple of object passed to the view along with a few variables.  When I leave the data array empty or just pass the variables it sends just fine, when passing in the objects I get an InvalidCredentials error:
[code]
Yes I saw #33, but this is different, I have no problems with the validating emails, and emails are sending most of the time.

This o

[2015-04-22 18:04] codivist commented on #46
Open mouth :open_mouth: insert foot :mans_shoe:

In my method where I am getting the error, I have the following line, about 10 lines above, before I send the email
[code]
Using the `Mailgun::validate` call is using the public key to validate, and then later on when calling a `Mailgun::send` it's not switching back to the private key.

Trying some work arounds, but none have been successful yet.

[2015-04-22 18:09] Bogardo commented on #46
That is odd, I'll see if I can reproduce it.

[2015-04-22 20:42] codivist commented on #46
A simple test case that I just tried: (replacing me@example.com with my real email)
[code]
and the email never sends

[2015-04-22 20:46] Bogardo commented on #46
@codivist Thanks, I'll be at my computer in a couple of hours.
I'm currently working on a new version of this package which is basically a rewrite so I'll see if this issue is present in the new version as well.

[2015-04-28 16:36] #46 closed

[2015-05-28 21:13] ellisthedev commented on #42
Any update on this progress? Really need the `o:tag` support for a project we're working on and it drives me nuts this isn't supported by default.

[2015-05-29 20:12] EHLOVader commented on #42
+1

[2015-06-04 16:53] ritey commented on #42
I've made a start, a pull request has been submitted...

[2015-06-17 15:26] ritey commented on #42
Any update on this?

[2015-06-18 00:50] Kryptonit3 commented on #42
Does the built in mail provider in L5 not work? There is support for mailgun.

[2015-06-18 06:47] ddewit commented on #42
The built in support is pretty basic and though you can do a lot with adding headers to a mailgun mail, you cannot easily manage lists and subscribers and so forth. At least, not that I'm aware of.

[2015-08-03 07:47] venkatiiitb opened #50 "Batch Sending Mail Issue"
Hi Bogardo,

I am trying to send a batch mail to multiple recipients at the same time using below code using Laravel framework.

Mailgun::send('emails.mudrush', $data, function($message) use($users)
		{
			$message->subject('Last day to WIN free passes to The Mud Rush' );

			$message->to($users);

		});

If you see $users array has all the emails of the users. Now the issue is every user is able

[2015-08-03 16:57] mocheaz opened #51 "Mailgun::lists()->addMember not working in production"
For some reason i am able to add a member to a list in my dev environment, but it's not working in my production.

Mailgun::send() is working fine.

Any idea why?

[2015-08-04 14:48] Bogardo commented on #50
The best way to fix this is by using recipient variables.
From the Mailgun Documentation:

Take special note of the last (bold) paragraph.

Example:
[code]

Another option would probably be to use the bcc() method but I recommend using the recipient variables.

[code]

## Simmilar issues:

[Issue using To foreach loop #31](https://github.com/Bogardo/Mailgun/issues/31)
[Support for recipient variab

[2015-08-04 14:48] #50 closed

[2015-08-04 14:49] Bogardo commented on #51
Are any/other Mailinglist methods working on your production environment?

[2015-08-04 15:02] mocheaz commented on #51
I just tested Mailgun::lists()->get() and Mailgun::lists()->all() and it worked fine.

[2015-08-06 14:21] mocheaz commented on #51
Any updates?

[2015-09-11 10:18] jjosephs commented on #42
+1

[2015-09-16 00:01] jarbitlira commented on #42
## I added support to L5, see the [PR](https://github.com/Bogardo/Mailgun/pull/52).
While the PR is in review. you can use my repo following the next instruction:
* Add the repository url and set minimum-stability in your composer.json file
[code]
*  Add the next dependency
[code]
* Run composer update from the command line
[code]
* Finally see the [README.md](https://github.com/jarbitlira/Mailgun

[2015-09-18 03:18] jarbitlira commented on #51
Hi @mocheaz.
Check the logs generated by laravel, this can say you what's the possible problem.

[2015-09-18 07:54] #42 closed

[2015-10-08 06:40] GaurangGhinaiya opened #53 "Publish config get following error"
I am using Laravel 4.2.*. I install this lib using composer and when i am trying to publish config i am getting following error

`[InvalidArgumentException] There are no commands defined in the "vendor" namespace`

How to solve this.

[2015-10-08 16:14] jarbitlira commented on #53
Hi, for laravel 4.2 you have to run the next command.

[code]
please follow this guide.

[README.md](https://github.com/Bogardo/Mailgun/blob/ea41cbe497cef1f41db8c87cfede88063d74b03e/README.md )

[2015-10-12 09:29] #53 closed

[2015-10-20 18:07] leonardo-ferreira-caldas opened #54 "Method Mail::raw() not supported"
Because Mail::raw() is not supported, it is mandatory that a view is passed, but in cases where you rendered the view before to execute some parsing function, like using CSSInline class, you cant just pass the parsed data to Mailgun::send.

[2015-10-20 18:10] ddewit commented on #54
This has been an issue for quite some time. As a quick 'work-around', you can create an empty view where you can pass 1 variable (containing the previously rendered view as an HTML string) to and immediately display it, as the only thing the view does...

It's not perfect, but it's a quick and workable solution.

[2015-10-26 09:42] Bogardo commented on #54
I'll see if I can add a `Mailgun::raw()` feature this week.

[2015-10-30 06:40] argb opened #55 "can't use guzzlehttp 6.x,please update dependecy"
Please update,i am using guzzlehttp 6.x

[2015-11-01 23:06] Bogardo commented on #55
Guzzle is a dependency for the mailgun-php library, on which this package relies. I see you've already created an issue on their project (https://github.com/mailgun/mailgun-php/issues/97).

[2015-11-01 23:06] #55 closed

[2015-11-08 19:04] argb commented on #55
@Bogardo yes,I created 2 issue for both of you :D

[2015-11-09 23:30] Gadurp1 commented on #54
Any chance you'll be adding this feature soon?

[2015-12-28 18:15] guilhermegonzaga opened #59 "Compatible in Laravel 5.2?"
I wonder if this package is compatible with Laravel 5.2?

[2016-01-12 11:48] azamat-sharapov commented on #11
I can't get this work. Has anybody used this feature? I tried both ways like described above, but variables don't get replaced in message body.

[2016-01-12 12:10] azamat-sharapov commented on #11
Okay, **important** note to anyone who can't get this work: Make sure you are not using `catch_all` config option!

[2016-01-19 22:35] thorakmedichi opened #60 "Guzzle Dependency issues"
It appears the bogardo/mailgun 4.0.* for Laravel 5 package has a conflict with one of my other packages.

My other package requires guzzlehttp/guzzle 6.1.1 but when I try to add this package I get a composer error:

- Conclusion: don't install guzzlehttp/guzzle 6.1.x-dev
- Conclusion: don't install guzzlehttp/guzzle 6.1.1
- mailgun/mailgun-php v1.8 requires guzzlehttp/guzzle ~5.0 -> satisfiable by

[2016-01-28 08:39] MehmetNuri commented on #59
Is not  it not runing on Laravel 5.2 ?

[2016-01-28 12:28] nu1ww commented on #20
I've same issue. app develop using laravel 4.2, this package installed correctly. I'm working on local environment plan to send emails via mailgun API
[code]

Domain and API set in services.php

[code]
can you help me to to sort it out ?

[2016-01-28 12:33] nu1ww opened #61 "The endpoint you've tried to access does not exist. Check your URL."
I've same issue. app develop using laravel 4.2, this package installed correctly. I'm working on local environment plan to send emails via mailgun API
Error is :
[code]

Domain and API set in services.php

[code]
can you help me to sort it out ?

[2016-01-30 13:44] nickbr5 commented on #54
Any news on this? I also need this function.

[2016-02-02 18:11] dustingraham commented on #50
Thanks @Bogardo I didn't see $message->recipientVariables in the documentation so I was also wondering. I see it in the code now.

Might consider returning $this so we can chain functions.

[2016-02-02 21:06] HekmatFavid opened #62 "SSL Certificate problem"
By sending mail following error show:

RequestException in RequestException.php line 51: cURL error 60: SSL certificate problem: unable to get local issuer certificate

How to solve it?

[2016-02-08 10:34] Bogardo commented on #62
I don't think this is an issue with this package. Please post some more information about your issue.

[2016-02-08 10:36] Bogardo commented on #61
On what event are you receiving this error? This exception is thrown in the [mailgun-php](https://github.com/mailgun/mailgun-php) package.

[2016-02-08 10:37] Bogardo commented on #60
Guzzle dependencies are set in the [mailgun-php](https://github.com/mailgun/mailgun-php/blob/master/composer.json#L5) package, not in this package.

[2016-02-08 10:37] #60 closed

[2016-02-25 07:10] jeffersonsetiawan commented on #61
I think it's because of how to get config variable in mailgun.

here is the snippet:
$this->from = Config::get('mailgun::from'); (Line 66)

I can solve it by changing Config::get('mailgun::from') to Config::get('mailgun.from')
(Laravel 4 use . instead of ::) @nu1ww.

Notes: change all :: to . in vendor/bogardo/mailgun/src/Bogardo/Mailgun/Mailgun.php

I know it is bad practice to changing file in v

[2016-03-26 11:26] Yokeshthebouncer commented on #43
Is that the above issue fixed in laravel5.1? Im getting Failed opening required.

[2016-04-06 18:21] gilbertovb commented on #62
I had the same issue with the test script:
# Include the Autoloader (see "Libraries" for install instructions)
require 'vendor/autoload.php';
use Mailgun\Mailgun;

# Instantiate the client.
$mgClient = new Mailgun('my api key');
$domain = "my domain";

# Make the call to the client.
$result = $mgClient->sendMessage($domain, array(
    'from'    => 'Excited User <postmaster@my domain>',
    'to'

[2016-04-26 07:28] avnir commented on #59
This is still not working on Laravel 5.2

Fatal error: Call to undefined method Mailgun\Mailgun::send()
Fatal error: Call to undefined method Mailgun\Mailgun::later()

[2016-04-28 15:36] danbovey commented on #61
As far as I can tell, support for Laravel 4.2 is broken in this package because of this issue.

So I've [forked this repo](https://github.com/europeanautomation/Mailgun) and reset it back to the last commit where the package supported Laravel 4.x and changed all of the config keys to use `.` as a separator.

If @Bogardo can accept the pull request my fork into the dev branch (if I'm right in think

[2016-04-28 18:07] Bogardo commented on #61
I'm pretty sure Laravel 4.2 uses a `::` for accessing a package configuration file.
See https://laravel.com/docs/4.2/packages#package-configuration

Or am I missing something?

[2016-04-29 07:06] testwts commented on #62
Bogardo, I'm facing same issue emails send code gives me this error

cURL error 60: SSL certificate problem: unable to get local issuer certificate

What should I do to solve this error?

[2016-04-29 11:50] danbovey commented on #61
Ahhhh OK forgive me not understanding package config completely. As the artisan command is broken in older versions of this because it's not tagged properly (I think this is fixed in latest), I didn't know where to put it.

I've fixed it for myself now by moving the config to `app/config/packages/bogardo/mailgun/config.php` instead of `app/config/mailgun.php` as the README states - Maybe this appl

[2016-04-29 12:01] Bogardo commented on #61
Please make sure you are using the correct version of this package for your version of Laravel.
If you are on Laravel 4.2, use version `3.1.*` of this package.

[2016-04-29 12:20] danbovey commented on #61
Yep using 3.1.7. It's just me and everybody else in this issue misinterpreting the new README file. So you can probably close this.

[2016-05-05 12:36] jgojariya opened #66 "The parameters passed to the API were invalid. Check your inputs!"
I'm using laravel 4.2. I try bellow example, but it does not work. It occur bellow error.
"The parameters passed to the API were invalid. Check your inputs".

=> Code
$data = array(
        'customer' => 'John Smith',
         'url' => 'http://laravel.com'
      );
Mailgun::send('emails.layout', $data, function($message)
 {
      $message->to('jgojariya@elluminati.in', 'John Smith')->subject('Welc

[2016-05-13 12:39] devdurbs opened #67 "Attachments appearing inline"
Attaching files to the email works . . . but the attachment also appears inline in the email.
This is the code used:
`$message->attach(data['path'], $data['name']);`
How to prevent it appearing inline?

[2016-05-21 16:29] bikedel commented on #59
any answer to wether it is 5.2 compatible?

[2016-05-22 18:49] Bogardo commented on #67
Hi @devdurbs,

I've tried to reproduce this issue but attachments do not appear inline for me.
Are you sure this is not your email client showing previews/thumbnails of your attachments?
I know Gmail does this and probably some other email clients.

[2016-05-24 12:11] #61 closed

[2016-05-29 16:41] sixty8 opened #68 "Laravel 5.1 support?"

[2016-06-02 00:18] developingo commented on #62
Same problem here, working on Windows Server 2012 standard, laravel 5.1.36

some people suggest this could be caused by guzzlehttp/guzzle 5.0

I have ohter two laravel installations (4.1 and 4.2) with mailgun 2.* and 3.0.* working well in the same server so this should be related with this version of mailgun or its dependencies

[2016-06-06 19:56] #67 closed

[2016-06-06 19:59] Bogardo commented on #51
@mocheaz Have you managed to resolve this issue?

[2016-06-09 09:17] Dartanjan commented on #54
+1

[2016-06-16 11:59] kldeepak commented on #39
Hi @Bogardo ,

I faced same issue ("**The parameters passed to the API were invalid. Check your inputs!**") when I tried to add a domain that exists already in the same account. I updated **responseHandler** function to get correct error message. _Just want to check whether the code is merged into main repo or not_.

[2016-06-20 17:27] mcblum commented on #59
I have the same issue :(

[2016-06-21 04:27] devdurbs commented on #67
Could well be. I'll get some colleagues to test with their email clients.

[2016-06-24 23:10] milocosmopolitan opened #69 "Guzzle 6"
Hello I've been using this plug in without any issue. However, with my last update on my project where I'm using "guzzlehttp/guzzle:~6.1.1", "guzzlehttp/oauth-subscriber: dev-master" for Oauth. So now  composer wouldn't install the plug in due to dependency version.  So I wanted to ask you guys whether, you are planning to update your project any sooner, or any workaround.

[2016-06-25 00:29] milocosmopolitan commented on #69
https://github.com/Bogardo/Mailgun/pull/70

[2016-08-13 15:35] Dartanjan commented on #59
Same issue, the package is **not** 5.2 compatible.
Is this still under development? Too bad if it’s not, there are no easy replacements.

[2016-08-13 17:19] mcblum commented on #59
I totally forgot about this issue thread. I wish I remembered how I fixed this but all of our apps are running 5.2+ and they all work with this package. For the life of me I can't remember what I did, but I know it does, in fact, work.

[2016-08-14 09:49] Dartanjan commented on #59
Actually, the issue I'm having is using this package for password resets. This no longer applies to 5.2+ http://bogardo.com/mailgun-and-password-reminders/ So that needs a heavy update.

[2016-08-22 10:30] raunak-cispl commented on #62
I too facing the same issue, but i don't have guzzlehttp/guzzle.

My code is

[code]

Laravel version: 5.1
bogardo/mailgun:: "4.0.*

Any help would be greatly appreciated, thanks.

[2016-08-26 16:01] dustingraham opened #72 "Laravel 5.3 and Mailable Support"
Laravel 5.3 is out. =)

I like their new Mailables feature. `Mail::to($request->user())->send(new OrderShipped($order));`

Mailgun documentation doesn't suggest this is feasible yet. Thought I'd mention it.

[2016-08-28 21:05] FilipQL opened #73 "Failed to install bogardo/mailgun, version 4.0.0"
Hi,

I am using Laravel 5.2 with the latest version of guzzlehttp/guzzle [**6.2.1**]. When I try to install bogardo/mailgun, get the following error:

So, it seems that this package doesn't work with the latest version of guzzle... Can I expect this package to work with the latest version of guzzle any time soon, or I need to remove the current version and install 5.3.1?

[2016-08-28 21:20] FilipQL commented on #59
So, this  package is not 5.2 compatible? Also, I see that it uses _mailgun/mailgun-php_ **v1.8**, but the current stable version is _mailgun/mailgun-php_ **v2.1.2**, and if you have already installed the latest version of guzzlehttp/guzzle (**6.2.1**) - this package will not work...

[2016-08-29 14:11] afinayor commented on #59
I have the same issue. A update is needed Asap. Av tried using the normal Mailgun raw api library. Not working with laravel 5.2. I keep getting error. Or guys anyone with a workaround.

[2016-08-30 13:08] giwrgos88 opened #74 "Non-static method Bogardo\Mailgun\Mailgun::lists() should not be called statically"
I'm using mailgun v4.\* on a laravel 5.2, and when I'm calling Mailgun::lists() I'm getting non-static method. here is my code same with the documentation

[code]

any idea?

[2016-08-31 20:29] codeDev2016 opened #75 "cURL error 7: Failed to connect to api.mailgun.net port 443: Connection timed out"
i am stuck on this problem.

[2016-09-04 17:44] fakiolinho opened #76 "Send emails in batch and pass unique data per recipient"
I 've found in some closed old issues some mentions about `$m->recipientVariables();` but i cannot find anything in the docs and whatever i 've tried doesn't work. This is what i am trying:

[code]

With the structure above `$var1` and `$var2` remain unknown in my template. Am i  missing sth here? Is `$m->recipientVariables([...]);` the only way to achieve sth like that here? If yes please conside

[2016-09-04 18:30] Bogardo commented on #76
Hi @fakiolinho,
RecipientVariables are processed by Mailgun and not by Laravel/Blade.

See https://documentation.mailgun.com/user_manual.html#batch-sending

I hope this answers your question.
I'm currently working on the new version of the package and I'll make sure this will be covered in the documentation.

[2016-09-04 18:48] fakiolinho commented on #76
Thanks @Bogardo that was fast. Yes that `%recipient.varName%` works perfect. Thanks.

[2016-09-04 19:02] #76 closed

[2016-09-29 03:53] vafrcor commented on #73
I had same problem.
The newest `mailgun/mailgun:2.1.2` package doesn't need `guzzlehttp/guzzle:~5.0` anymore.
Hope this package will update dependency to newest mailgun package.

[2016-09-29 06:52] johannesschobel commented on #68
It works on L 5.1.. I use it in my current project!

[2016-09-29 06:54] johannesschobel opened #77 "Still maintained & Upgrade to Mailgun 2.1.*"
Hi @Bogardo and all other contributors,

first of all, thanks for this easy-to-use package!
I just wanted to ask, if this package is still maintained? Currently, Mailgun provides a 2.1.\* package for their own library. This one, however, still uses 1.8.\*

Can you switch to 2.1.\* ?

Thanks a lot and keep up your work!
Cheers

[2016-09-29 12:01] zurez commented on #68
- bogardo/mailgun 4.0.0 requires mailgun/mailgun-php ^1.8 -> satisfiable by mailgun/mailgun-php[v1.8] but these conflict with your requirements or minimum-stability.

I am getting this issue. On Larevel 5.1 any advice @johannesschobel

[2016-09-29 12:03] zurez commented on #73
Same issue here.

[2016-09-29 12:24] johannesschobel commented on #68
My ```composer.json``` file in the root directory looks like this:

[code]

Works like a charm..

What are you using?

[2016-09-29 12:37] zurez commented on #68
I am using guzzle6 maybe thats why stuff have broken ?

[2016-09-29 12:39] johannesschobel commented on #68
could be.. the "old" ```mailgun/mailgun-php``` package (this one here uses 1.8 - current version is 2.1) uses ```guzzle5``` per default..

Note, that ```mailgun/mailgun-php``` has removed ```guzzle6``` as dependency in their current implementation. However, you are free to use guzzle (see their readme file). However, if you are using this package you are _bound_ to ```guzzle5``` for now..

I do no

[2016-09-29 12:51] johannesschobel commented on #73
you need to install ```guzzle5.*```

[2016-10-04 03:57] pouu69 commented on #77
plz change

[2016-10-04 05:38] kunxin-chor opened #80 "Recipient Variables"
Is there anyway to define recipient variables when doing batch sending?

[2016-10-04 07:06] Bogardo commented on #80
Please take a look at:
[Batch Sending Mail Issue #50](https://github.com/Bogardo/Mailgun/issues/50)
[Issue using To foreach loop #31](https://github.com/Bogardo/Mailgun/issues/31)
[Support for recipient variables #34](https://github.com/Bogardo/Mailgun/issues/34)

Does that fix your issue?

[2016-10-12 04:10] kunxin-chor commented on #80
Yes this does nicely. Was it in the docs, or did I miss it?

[2016-10-17 01:18] pouu69 opened #81 "If you send the same e-mail domain, recipients variable not working"
ex)

[code]

if you send the same email domain, not convert  %recipient.email%

do you know why ?

[2016-10-18 14:17] faisalwiz opened #82 "Call to undefined function Mailgun::isDeferred()"
Hi I am using laravel 5.2 and bogardo/mailgun": "4.0
I execute the following code
`
$responseed = Mailgun::send('general_template',array('mail_information'=>$temp_data) ,function ($emailOBJ){
            $emailOBJ->subject('test---teste--subject-qrq2r3q-'.mt_rand(56465498,9849849804908))->to('testemail@testdomain.com');
            $emailOBJ->tracking(true);
        });
`
it thrown following error

[2016-10-20 06:51] johannesschobel commented on #77
pushing back to the top.. ;)

[2016-10-21 14:36] johannesschobel commented on #81
please look at #80

[2016-10-25 17:14] mcblum commented on #77
Please!!! We really need Guzzle 6.

[2016-10-25 17:17] mcblum commented on #69
What's the status of this? Was this ever accepted so we could move to Guzzle 6?

[2016-10-28 08:44] jonnyxe opened #83 "attachData Function"
Would be great to implement the "attachData" function.

[2016-11-01 11:06] faisalwiz opened #84 "Non-static method Bogardo\Mailgun\Mailgun::send() should not be called statically, assuming $this from incompatible context"
Hi I have installed  "bogardo/mailgun": "4.0.*" via composer and followed same steps defined in library
I am using following code to send email for testing but its thrown an error
`Non-static method Bogardo\Mailgun\Mailgun::send() should not be called statically, assuming $this from incompatible context`
[code]
 `vendor\bogardo\mailgun\src\Bogardo\Mailgun\Mailgun.php` file using using $this

look

[2016-11-13 00:09] #80 closed

[2016-11-13 00:22] Bogardo commented on #54
Please update to the lastest release and review the installation instructions.

[2016-11-13 00:22] #54 closed

[2016-11-13 00:22] Bogardo commented on #59
Please update to the lastest release and review the [installation instructions](https://github.com/Bogardo/Mailgun#installation).

[2016-11-13 00:22] #59 closed

[2016-11-13 00:23] Bogardo commented on #68
Please update to the lastest release and review the [installation instructions](https://github.com/Bogardo/Mailgun#installation).

[2016-11-13 00:23] #68 closed

[2016-11-13 00:23] Bogardo commented on #69
Please update to the lastest release and review the [installation instructions](https://github.com/Bogardo/Mailgun#installation).

[2016-11-13 00:23] #69 closed

[2016-11-13 00:24] Bogardo commented on #73
Please update to the lastest release and review the [installation instructions](https://github.com/Bogardo/Mailgun#installation).

[2016-11-13 00:24] #73 closed

[2016-11-13 00:25] Bogardo commented on #62
The Guzzle dependency has been removed in the latest release.
Please update review the [installation instructions](https://github.com/Bogardo/Mailgun#installation) on how to configure your client.

[2016-11-13 00:25] #62 closed

[2016-11-13 00:27] mcblum commented on #69
Thank you for doing this @Bogardo! I was only using templates through Mailgun so I made my own helper in the meantime, but your package is way better. I appreciate your paying attention to these issues and resolving it.

[2016-11-13 00:28] Bogardo commented on #74
Support for laravel 5.1 and up has been added in the latest release. Though integrated support for Mailinglists have been dropped. Instructions for using the Mailinglist API [can be found in the Readme](https://github.com/Bogardo/Mailgun#mailing-lists).

Please update to the lastest release and review the [installation instructions](https://github.com/Bogardo/Mailgun#installation).

[2016-11-13 00:28] #74 closed

[2016-11-13 00:31] Bogardo commented on #69
@mcblum Thanks, I really appreciate that.
I haven't been very responsive in the last months, which I regret but I've just been way to busy.

[2016-11-13 00:32] Bogardo commented on #77
Please update to the lastest release and review the [installation instructions](https://github.com/Bogardo/Mailgun#installation).

[2016-11-13 00:32] #77 closed

[2016-11-13 00:32] Bogardo commented on #82
Please update to the lastest release and review the [installation instructions](https://github.com/Bogardo/Mailgun#installation).

[2016-11-13 00:32] #82 closed

[2016-11-13 00:32] Bogardo commented on #84
Please update to the lastest release and review the [installation instructions](https://github.com/Bogardo/Mailgun#installation).

[2016-11-13 00:32] #84 closed

[2016-11-13 00:33] #51 closed

[2016-11-13 00:35] Bogardo commented on #75
Hi @codeDev2016,
Have you managed to resolve this issue?

[2016-11-13 00:37] mcblum commented on #69
@Bogardo such is life! I use this package in every project we have so I was very excited to see this come through. Thank you for contributing to the open source community.

[2016-11-13 00:38] Bogardo commented on #81
@pouu69 Has your issue been resolved?

[2016-11-13 00:45] Bogardo commented on #83
@jonnyxe Are you referring to ['Attaching Data to Messages'](https://documentation.mailgun.com/user_manual.html#attaching-data-to-messages) as mentioned in the API docs?

[2016-11-13 00:53] Bogardo commented on #72
I've just pushed a new release for support for Laravel 5.1 and above.
Support for Mailables is definitely on the roadmap.

[2016-11-13 10:13] johannesschobel opened #86 "Mailgun Base URI is wrong..."
Dear @Bogardo ,

thanks a lot for updating your awesome package! Good to see, that it works with guzzle6!
However, when i merged my application to your new version (it was easy as hell!) i found an error in your `config` file. The provided `endpoint` for the mailgun API is invalid..

Your config reads `api.mailgun.net`, it should, however, read `api.mailgun.net`.. See PR #85 for a fix!

Cheers, Jo

[2016-11-13 10:21] jonnyxe commented on #83
No, I want to attach a PDF file I saved as a string in the database. The standard mail class in Laravel supports a function to attach a file presented as a string - the attachData function. It would be very great if I could use this function with your mailgun class, too! :)

[2016-11-13 10:59] #86 closed

[2016-11-13 12:17] Bogardo commented on #83
This package relies on the [mailgun-php](https://github.com/mailgun/mailgun-php) library and unfortunately that library doesn't support this.
You could request this feature there, once it has been added by them it's a minor tweak on my end to add support for it in this package.

[2016-11-14 20:45] #66 closed

[2016-11-15 20:47] dustingraham opened #87 "Design Concept"
Hi,

I couldn't find any way to contact you directly via your website or github, so I figure this is on-topic enough to post an issue. Feel free to close it, or delete it.

I was wondering about a fundamental design concept of this library. We're currently evaluating whether we want to stay with mailgun or not. And, one thing I realize is that it will be slightly more painful to switch out mailgun

[2016-11-15 23:31] Bogardo commented on #87
Hi @dustingraham,

This is a decision _(concession?)_ I made back when I started out with this project.
I initially wanted to create a new mail driver to add support for Mailgun (which didn't exist yet, back then) but after a lot of fiddling around in the code without success I figured I would be better of moving it to a separate service avoiding the whole Mail implementation of Laravel, which rel

[2016-11-16 17:23] dustingraham commented on #87
Thanks Chris.

I do use click/open tracking as well as batch sending (critically useful feature!) I don't use tagging, but I've wanted to, and may soon. (If I continue with mailgun.)

One consideration might be to allow for some sort of Mail::params(['tag' => 'yellow'])->send(...) where there is a generic params or config call. If using smtp, tag is meaningless so it'll be ignored, but if using a

[2016-11-16 17:23] #87 closed

[2016-11-16 18:49] Bogardo commented on #87
Adding such a feature to a codebase that you yourself are familiar with would probably be fine but the main issue I have with it is when a new developer comes on the team or when a complete project is handed over to another developer.
They see something like `Mail::params(['tag' => 'yellow''])->send(...)` in the codebase and they might assume that it works and keep using it throughout the code. No

[2016-11-16 20:04] dustingraham commented on #87
Agreed on all points.

A side point. The batch feature is so valuable. I had a cron script where my coworkers could schedule an email to go out at say 10am. Using individual emails, it would take 2-3 hours to deliver 10k+ emails. Sometimes longer for our bi-annual trade show announcements. Switching to batching reduced that to less than a minute. Crazy valuable feature.

[2016-11-17 00:52] Bogardo commented on #87
I'm glad we can agree.
And I'm very glad that you are benefitting from the package.
_(though the credits go to [Mailgun](https://www.mailgun.com/) mostly)_

[2016-11-23 14:16] #75 closed

[2016-11-23 14:16] #81 closed

[2016-11-27 15:35] raunak-gupta opened #88 "Class mailgun.client does not exist in mailgun 5.0"
Hi,

I have 2 Laravel application
_1st one is:_
Laravel version : 5.1.*
bogardo/mailgun: 4.0.*
_2nd one is:_
Laravel version : 5.2.*
bogardo/mailgun: ^5.0

1st one is working properly but in second application I'm getting an error

In my both the application I have same code which is.
[code]

![2016-11-27_2103](https://cloud.githubusercontent.com/assets/22704179/20649389/009bbc70-b4e5-11e6-9fe9-d2

[2016-11-27 20:08] Bogardo commented on #88
It looks like you forgot to register the HTTP Client.
Please check the [HTTP Client Dependency](https://github.com/Bogardo/Mailgun#http-client-dependency) section in the readme.

[2016-12-06 02:51] raunak-gupta commented on #88
Ok, thanks but some how I was struggling to add the dependency of php-http/guzzle6-adapter in app.php file, so I downgraded to bogardo/mailgun: 4.0.* and it is working fine.

[2016-12-07 19:17] jameskraus opened #89 "Readme correction: Mailgun::raw"
The Readme file currently gives this as the example for Mailgun::raw:

`Mailgun::raw("This is the email body", $data, $callback);`

But the interface function does not accept a $data parameter:

[code]

[2016-12-07 19:21] jameskraus commented on #89
Pull request: https://github.com/Bogardo/Mailgun/pull/90

[2016-12-08 08:49] #89 closed

[2016-12-08 08:50] Bogardo commented on #89
Thanks for noticing and fixing it.

[2016-12-08 20:15] jameskraus opened #91 "Can't get message id after sending"
One of the main data points returned from the mailgun api after a successful POST is the id of the message sent. Right now, that id is never captured by the \Bogardo\Mailgun\Http\Response class.

Proposal: expose the id of the sent message in the Response class.

[2016-12-08 20:28] Bogardo commented on #91
Good point, I'll update the `Response` class to include the remaining information returned by the API.

[2016-12-12 20:52] paulmartin84 commented on #39
Thanks @CupOfTea696 in the end my message was **Please activate your Mailgun account. Check your inbox or log in to your control panel to resend the activation email.**  How frustrating!

[2016-12-20 19:39] jameskraus opened #93 "Adding a custom header as non-array"
Right now adding a custom header adds the value as an array:

[code]

Why isn't it just:

`$this->message[$headerName] = $headerData;`

Because right now I get weird headers like this:

`X-Auto-Response-Suppress[0]: All`

When I call it like this:

`$message->header('X-Auto-Response-Suppress', 'All');`

[2016-12-20 19:42] jameskraus commented on #93
Issue is with mailgun library, not this library

[2016-12-20 19:42] #93 closed

[2017-01-27 09:53] mkaya93 opened #94 "Batch Sending Issue"
Hello @Bogardo ,
I am trying to send batch messages with this code.
[code]

But I got this error when its reaching 1000.

So I sent an email to mailgun. And they replied like this.

In that case what should I have to do with your packages ?

[2017-01-27 09:59] Bogardo commented on #94
You should split your recipients in chunks of 1000.
If you are using a Laravel Collection take a look at:
https://laravel.com/docs/5.3/collections#method-chunk.

Or, if it's just an array:
http://php.net/manual/en/function.array-chunk.php

Which would translate to somethink like the following:

[code]

[2017-01-27 10:58] BesimVatan commented on #94
The structure of the directory changes when you use the chunk function.

$mail[0]
  "besimvatan@gmail.com" => array:3 [
    "name" => "Besim Vatan"
    "gag" => 0.025
    "marka" => "Etkin Kampüs"
  ];

but $mail->chunk(1000) as $chunk

chunk[0]

 0 => array:3 [
    "name" => "Besim Vatan "
    "gag" => 0.025
    "marka" => "Etkin Kampüs"
  ]

[2017-01-27 11:03] Bogardo commented on #94
If you read the docs for `array_chunk` and/or `Collection::chunk` you'll notice you can pass a second parameter `bool $preserve_keys`.

[2017-01-27 11:05] #94 closed

[2017-01-27 11:07] #88 closed

[2017-01-27 11:55] BesimVatan commented on #94
@Bogardo  thank you for response

[2017-01-29 16:59] mocheaz opened #95 "trackOpens on domain-level"
Is there a way to track opens on every email on a domain level?

[2017-02-03 07:52] vesper8 commented on #72
am hoping to see support added for the new Mailables as well!

[2017-02-03 07:54] vesper8 opened #96 "any support for unsubscribe from mailing list?"
I see how to subscribe someone to a mailing list, but is there any support in your package for displaying an unsubscribe link in an email and doing an unsubscribe action when clicked?

[2017-02-03 08:31] Bogardo commented on #96
No, unfortunately not. You'll have to implement this yourself.
Either by updating a member of a mailinglist and setting the `subscribed` property to `false` or by deleting the member from the mailinglist completely.

[2017-02-03 08:33] Bogardo commented on #95
You can configure this from your Mailgun control panel.

<img width="382" alt="screen shot 2017-02-03 at 09 33 22" src="https://cloud.githubusercontent.com/assets/388557/22584656/d85086ee-e9f3-11e6-8742-a07b6ac04d93.png">

[2017-02-03 08:33] #95 closed

[2017-02-03 08:34] #91 closed

[2017-02-07 10:57] DemianD opened #97 "Laravel 5.4 support"
This package brokes when upgrading to L5.4

[2017-02-07 11:03] Bogardo commented on #97
I haven't had the time to check for L5.4 compatibility, could you please be a bit more specific about what exactly breaks on L5.4?

[2017-02-07 11:04] DemianD commented on #97
[Symfony\Component\Debug\Exception\FatalThrowableError]
Call to undefined method Illuminate\Foundation\Application::share()

I'm trying to fix this, and will send a PR later today.

[2017-02-07 12:39] DemianD commented on #97
Something wrong with this I guess:

https://github.com/Bogardo/Mailgun/blob/master/src/MailgunServiceProvider.php#L47-L51

Arguments are not passed to the constructor.

`    /**
     * Resolve the given type from the container.
     *
     * @param  string  $abstract
     * @return mixed
     */
    public function make($abstract);`

Using a simple constructor can fix this, but is there a binding

[2017-02-07 15:13] DemianD commented on #97
#98

[2017-02-07 15:13] #97 closed

[2017-02-10 09:41] #96 closed

[2017-02-21 14:25] AdrianHL opened #101 "Include TLS support on a per-message basis"
I found that the Laravel 4.2 version does not include a function to trigger the Require TLS parameter per-message basis. It'd great to have in the next 3.1 version.

[2017-02-21 14:27] AdrianHL commented on #101
#100

[2017-02-22 13:57] karnash opened #102 "How to configure this package for L5.2"
hi i try to follow the readme info to use this package but i can't achieve makes it work please could someone upload a full example please. thk

[2017-02-22 14:00] Bogardo commented on #102
Could you please specify what exactly is causing the issues?
Installing the package?
Registering the ServiceProvider?
Registering the HTTP Client?

[2017-02-22 14:04] karnash commented on #102
install                --- > ok
serviceProvides ---> X
httpCliente        --->X
 i need a full example please to how use and config the laravel and use Mailgun class, because i can`t call the `Mailgun::send()`

[2017-02-22 14:11] Bogardo commented on #102
So to confirm, you have installed the package using: `composer require bogardo/mailgun`.
Next, you need to open your `config/app.php` file and look for the `providers` key in the array.
Within that array you need to add the MailgunServiceProvider reference.

[code]

In the same file, when you scroll down you'll find the `aliases` key.
Within that array you need to add the Mailgun Facade reference.

[2017-02-22 14:13] Bogardo commented on #102
The last part is setting up your HTTP Client. It may seem rather difficult but it really isn't.
Just install `php-http/guzzle6-adapter` with composer.

[code]

When that is finished open the file `app/Providers/AppServiceProvider.php` and add the following to the `register` method:

[code]

[2017-02-22 14:14] karnash commented on #102
all ok but when i run the publish i have

![image](https://cloud.githubusercontent.com/assets/5040782/23215129/ac3f9bb4-f8e7-11e6-972f-2b8871c2c207.png)

[2017-02-22 14:16] Bogardo commented on #102
Try clearing your config cache and try again:

[code]

[2017-02-22 14:16] karnash commented on #102
my Appserviceprovider
![image](https://cloud.githubusercontent.com/assets/5040782/23215217/f80c1158-f8e7-11e6-90b1-b8b60e73658f.png)

[2017-02-22 14:18] karnash commented on #102
result to clear config
![image](https://cloud.githubusercontent.com/assets/5040782/23215284/2f44794e-f8e8-11e6-8a01-eeacdc6635fd.png)

[2017-02-22 14:18] Bogardo commented on #102
You need to add your `domain` and `secret` to the `config/mailgun.php` file.

[2017-02-22 14:18] Bogardo commented on #102
Which version of Laravel are you using?

[2017-02-22 14:19] karnash commented on #102
Laravel 5.2
![image](https://cloud.githubusercontent.com/assets/5040782/23215328/5d40b2f4-f8e8-11e6-870f-fd6701ba8c20.png)

[2017-02-22 14:25] Bogardo commented on #102
You could try running:

[code]

Just note that this command may copy more config files from other packages as well.

[2017-02-22 14:26] karnash commented on #102
![image](https://cloud.githubusercontent.com/assets/5040782/23215611/675c682c-f8e9-11e6-82ae-fe7dfdd38cbd.png)

[2017-02-22 14:38] karnash commented on #102
my app.config
![image](https://cloud.githubusercontent.com/assets/5040782/23215996/bdbef224-f8ea-11e6-9abd-b34bb47e2aed.png)

![image](https://cloud.githubusercontent.com/assets/5040782/23216009/cfbf0e14-f8ea-11e6-84be-bfd34adc59a7.png)

sending the mail
![image](https://cloud.githubusercontent.com/assets/5040782/23216054/fb7ceb20-f8ea-11e6-81c8-866a1bbc3999.png)

![image](https://cloud.githubuser

[2017-02-22 14:47] karnash commented on #102
mmmmmmmm... works when i inyect the dependecy like that
![image](https://cloud.githubusercontent.com/assets/5040782/23216408/3fdd4354-f8ec-11e6-9178-c2cf03252335.png)

[2017-02-22 14:58] karnash commented on #102
but if i wanna implement in another file a php class how i can inyect ?

[2017-02-22 15:29] Bogardo commented on #102
Use the Mailgun facade, not the \Mailgun\Mailgun class.

[code]

[2017-02-22 15:29] #102 closed

[2017-02-22 15:43] karnash commented on #102
thk. a lot chief..!!, master..!!!  now time to work with our package, and the inline css ..... thk greate job..!!!

[2017-03-22 21:04] qrczak opened #105 "Store mails"
Is it possible to get all stored (temporary mailbox for incoming) emails?

[2017-03-23 12:04] Oleiva opened #106 "MailGun add one pixel image when I use mimeMultipart"
Mailgun add mailservice.gif and broke the html layouts

http://prntscr.com/enh6dv

[2017-03-23 12:05] Oleiva commented on #106
http://prntscr.com/enh6py

[2017-03-24 08:33] Bogardo commented on #106
I'm not sure what the issue is here. Is this an issue with this Mailgun package or an issue with Mailgun in general?

[2017-03-24 08:42] Bogardo commented on #105
This package does not support fetching stored email out of the box.
What you can do is access the underlying Mailgun Api with the `Mailgun::api()` method.
(See the section about Mailing lists in the Readme: https://github.com/Bogardo/Mailgun#mailing-lists for an example)

Please refer to the Mailgun documentation regarding stored messages: https://documentation.mailgun.com/api-sending.html#retriev

[2017-03-24 08:42] #105 closed

[2017-03-28 09:25] gaurav16694 opened #107 "dependency issue"
I am getting the following error:

[code]

[2017-03-28 12:21] Bogardo commented on #107
Could you please post the content of your `AppServiceProvider.php` file?

[2017-03-28 12:25] #106 closed

[2017-03-28 13:00] #107 closed

[2017-03-28 20:48] dustingraham commented on #107
@Bogardo the error message above is generated by the problem here: https://github.com/Bogardo/Mailgun/commit/ff05ca54993642443563d4242413064db03d64af

[2017-03-29 11:06] sbabakmehrabi opened #108 "Mailgun::queue"
Sorry for poor English.

Larvel has Mail::send() and Mail::queue functions. I used queue in my project and now I want to use Bogardo/Mailgun. How can I use queue for future processing?

[2017-03-29 11:23] Bogardo commented on #108
The `Mailgun::queue()` option is unfortunately not supported in this package.

[2017-03-29 11:25] sbabakmehrabi commented on #108
Thanks for your quick reply.
Is there any future plan for adding it?

[2017-03-29 11:38] Bogardo commented on #108
No, not really. I'm open for any PR though.
You should be able to wrap your own queue callback around it right?

[2017-04-03 12:01] kylescousin commented on #72
Any news on this? :)

[2017-04-05 14:22] dambridge opened #109 "Change email domain?"
I'm looking to provision several domains on Mailgun through my app. At this time, I see that the Mail sender takes the domain setting from the Config only. Any plans to make this a setting that can be passed in? If not, has anyone else looked at doing this yet?

[2017-04-05 14:36] Bogardo commented on #109
The domain is fetched from the config [in the `send()` method](https://github.com/Bogardo/Mailgun/blob/a9f3cfce7fbae124bde43547dcaefb8d3e72a0f5/src/Mail/Mailer.php#L67).
You should be able to set the config value dynamically just before sending.

[2017-04-05 16:00] dambridge commented on #109
Wasn't sure if I could actually do that or not. Will give it a shot and report back if you like.

[2017-04-05 18:46] dambridge commented on #109
Yep, works a treat! Just have something like
[code]

[2017-04-05 19:39] #109 closed

[2017-04-11 20:13] bul-ikana opened #110 "Sensitive values are kept in config"
Sensitive values like mailgun private API key are kept in config file, where they can be commited to source control and be mistakenly distributed.

From Laravel 5 onwards, you can set this values in `.env` files.

Mailgun config values should be loaded from .env files so they are not distributed by mistake. This has the added benefit than different values can be set for different environments with

[2017-04-11 20:21] Bogardo commented on #110
I don't think this package needs to be responsible for that.
You can just as easily do the following right?

[code]

[code]

[2017-04-11 20:28] bul-ikana commented on #110
That is exactly what I did in #111

Of course you can always do it, but I think it would be helpful to have it as default. This helps newcomers to avoid silly mistakes and immediately follows laravel best practices.

[2017-04-25 03:45] kuzne4ik537 opened #112 "AppServiceProvider error"
When I try to add this code:
$this->app->bind('mailgun.client', function() {
            return new  \Http\Adapter\Guzzle6\Client::createWithConfig([
                'headers' => [
                    'Content-Type' => 'application/x-www-form-urlencoded'
                ]
            ]);
        });
 to AppServiceProvider.php register. I have this exception
FatalThrowableError in AppServiceProvide

[2017-04-29 20:44] timgithinji opened #113 "HTTP Client Dependency error"
Maybe I'm missing something obvious but I can't seem to figure this out.

When I try adding this code

[code]

to the `MailgunServiceProvider register()` method I get a syntax error `Unexpected createWithConfig, expecting variable`

Please help.

[2017-04-30 00:09] Bogardo commented on #112
It probably works if you drop the `new` keyword.

[code]

That seems to be an error in the docs, I'll update that.

[2017-04-30 00:09] Bogardo commented on #113
It probably works if you drop the `new` keyword.

[code]

That seems to be an error in the docs, I'll update that.

[2017-05-02 10:07] #112 closed

[2017-05-02 10:07] #113 closed

[2017-05-03 14:20] tpalts opened #114 "Support mocking"
Similar to [faking Laravel's Mail](https://laravel.com/docs/5.4/mocking#mail-fake), the Mailgun facade should be fakeable:
[code]

[2017-05-10 21:52] iulianba opened #115 "Unable to parse URI: https://///messages"
Hello,

I think I did something wrong when I tried to implement Guzzle 6 example. Before this step, I was always getting **class mailgun.client does not exist**

So I added in register of AppServiceProvider:

[code]

Do i need to actually write a config in there? I have no idea what should I do.

Thanks

[2017-05-13 16:53] ddeath opened #116 "Suggestion add api()->get() example to readme"
Hi there,

I would like to suggest to add api()->get() request, which needs domain, to readme as example.
For example:

    Mailgun::api()->get('my-domain/tags');

I was assuming that it will be added by library because I specified domain in config file. But it is not case.
Also for example call:

    Mailgun::api()->get('/tags');

returns:

    {#880
     +"http_response_body": "Mailgun Magnifice

[2017-05-17 08:19] Dartanjan commented on #115
I'm having the sam issue. Upgraded to v5, got `class mailgun.client does not exist`, installed Guzzle6 adapter, bound to container (with no config) and now I'm seeing this error message. I assume I need to add a base url or something, but it would be useful if there was an upgrade guide when new versions have breaking changes.

[2017-05-17 08:23] iulianba commented on #115
I fixed the issue by generating the config file. In older version this was not a requirement, from what I knew:

`php artisan vendor:publish --provider="Bogardo\Mailgun\MailgunServiceProvider" --tag="config"`

Configure api settings and you should be good to go.

[2017-05-17 08:28] Dartanjan commented on #115
Thanks! One question – setting has a `public_api_key`. Not sure what that is, Mailgun only gives private key, domain, smtp user/pass.

[2017-05-17 08:30] iulianba commented on #115
I added the private key to both public_api_key and api_key. Not sure if it`s the smart/right way of doing it.

[2017-05-17 14:45] Bogardo commented on #115
You can find your public API key in your account under 'Security'.
https://app.mailgun.com/app/account/security

The key should start with `pubkey-`

[2017-05-17 14:49] iulianba commented on #115
I have the same key under the link you provided and domain settings. And starts with: key-xxxx

Is it safe to add it for public_api_key and api_key?

Thanks

[2017-06-16 21:25] stefanmahr opened #117 "Class 'Mailgun' not found"
Hello!

I have following problem:

If I would like to use Mailgun::send.... I get the following error:

I have quit installed everthing correct... in my app.php I have added the provider and the alias...

I am using Laravel 5.4

Can everybody help me?

[2017-06-20 22:13] deios0 opened #118 "I'm getting Call to undefined method Mailgun\Mailgun::send()"
I'm getting Call to undefined method Mailgun\Mailgun::send() exception, then trying to use Mailgun::send(). I use Laravel 5.4. Is there any workaround? Thanks!

[2017-06-21 07:07] newdygo commented on #116
Thanks man, you help a lot.

[2017-07-03 14:15] vipin733 opened #119 "cURL error 7: Failed to connect to api.mailgun.net port 80: Timed out (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)?"
I try to simple sending mail but I by laravel 5.4
`
   $data = [];

       Mailgun::send('emails.school', $data, function ($message) {
         $message->to('vipinoo7@yahoo.in', 'John Smith')->subject('Welcome!');
     });
`
But getting error "Failed to connect to api.mailgun.net port 80:"

[2017-07-05 13:08] mounssif commented on #117
Add this in your controller below namespace:

use Mailgun;

[2017-07-18 02:16] cosmini opened #120 "Support for markdown"
I'm trying to integrate mailgun with laravel 5.4 and I wanted to use the markdown defined by vendor.notifications.email. Does anyone know how I might be able to do that? Thanks.

[2017-08-02 08:29] Radzhab opened #121 "How send email with subscription url?"
How send email with subscription url? I not found api method

[2017-08-03 14:52] zack1991 opened #122 "The parameters passed to the API were invalid. Check your inputs!"
Hi, I am using mailgun php sdk for sending mail with active domains of mailgun. Below is my php code for sending mail.

[code]

The above code working fine when sending mail to "zakir@phonato.com" but when i am trying to send mail to "hussainzakirali@gmail.com, zakirali1991@gmail.com, zakir1991@yahoo.com"
 i am getting the error of "The parameters passed to the API were invalid. Check your inputs!

[2017-08-16 04:45] cosmini commented on #122
You can only send to verified email address during the trial period, up to 5.
See here: https://help.mailgun.com/hc/en-us/articles/217531258-Authorized-Recipients

[2017-08-22 15:57] mcblum opened #123 "Double quotes when passing custom data"
Hello! Thanks for writing this package. I'm seeing a weird behavior where when I do `$message->data('send_id', $this->send->id);` it's coming back from Mailgun as `send_id": "\"345345345-34534534dfsdf-23423sdfsdf\""`. Any idea why it's getting sent through with double quotes or how to fix that?

[2017-08-31 10:34] dmagur opened #124 "[Mailgun\Exception\HttpClientException] The endpoint you tried to access does not exist. Check your URL."
Hi, i'm trying to download stored messages. Getting events by /v3/www.financesolutionag.net/events?event=stored&limit=300

then getting url of stored message from event like this https://sw.api.mailgun.net/v3/domains/www.financesolutionag.net/messages/eyJwIjpmYWxzZSwiayI6ImQ4YTk0ODM3LWM4NWUtNDBmNi04MjQyLTI1NmI5MjliOTMyNyIsInMiOiI3NWUzMzFjMGQ1IiwiYyI6InRhbmtiIn0=

but when i'm trying to get message

[2017-09-27 11:09] kirandg7709 opened #127 "Trying to get property of non-object in Response.php (line 37)"
$resopnse = Mailgun::raw("This is the email body", function ($message) {
                        $message
                            ->subject('Your Invoice')
                            ->to('test@gmail.com', 'Test User')
                            ->trackOpens(true)
                            ->campaign(<campaign_id>);
                    });

        print_r($resopnse);exit;

This is my code

[2017-11-01 00:40] pareekbhagu opened #130 "Documentation does not contain information about how to configure Mailgun Account"
With Laravel's built in Mailgun, I can send email. but can't receive emails with using this repo. ( Though composer  successfully installed it, only problem is that mail does not reach the inbox, I get a 200 Response, with http_response_header as "Mailgun Magnificent API");

Only reason could be that Mailgun can't find correct API key and domain parameters.
It would be better if the guide contains

[2017-12-03 01:30] gomesiago commented on #120
I've the same question, I also can't use markdown with mailgun.

[2017-12-07 12:12] joydipnath opened #131 "sending a batch mail, not recognizing the to array I have created"
`foreach ($result as $key => $value) {
            array_push($recipients, array( $value['email'] => array( 'c_name' => $value['fname']." ".$value['lname'],'user_id' => $value['user_id']
                )));
        }`

Then I am passing $recipients to send() function as suggested on document.
`$data = array ('email' => $request->email_id, 'subject' => $request->email_sub );
Mailgun::send('recruit

[2017-12-08 05:47] #131 closed

[2018-01-08 04:09] WaranchitPk opened #132 "The use statement with non-compound name 'Mailgun' has no effect"
<img width="974" alt="screen shot 2561-01-08 at 11 08 36" src="https://user-images.githubusercontent.com/19998269/34658769-62d80f64-f464-11e7-8ca1-f51c2717ccbf.png">

[2018-01-09 21:58] dustingraham commented on #110
The PR looks helpful.

[2018-01-09 23:03] kadivadavidak commented on #72
I would also like to see Mailable support added as well. Any update would be fantastic! Thanks for your hard work!

[2018-01-16 13:52] matijakovacevic commented on #110
any info when will it be merged?

[2018-01-20 10:52] Oreolek opened #133 "Multiple endpoints"
Mailgun has different endpoints, but this package allows to have only one.

For example, there're `api.mailgun.net` and storage API at `se.api.mailgun.net` but there's no way to call both of them.

[2018-01-22 22:44] dukesnuz opened #134 "cURL error 60: SSL certificate problem: unable to get local issuer certificate"
Installed the package and configured. Not sure what this error means or how to fix:

```cURL error 60: SSL certificate problem: unable to get local issuer certificate (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)```

Any help would be greatly appreciated

[2018-01-22 23:02] dukesnuz commented on #134
Found the [fix](https://laracasts.com/discuss/channels/laravel/how-to-solve-curl-error-60-ssl-certificate-in-laravel-5-while-facebook-authentication)

[2018-01-22 23:02] #134 closed

[2018-01-23 12:22] dukesnuz opened #135 "Batch Sending and Passing in Email Addresses"
What I am confused about is when using Batch Sending, How does each email address get passed in tot he closure. Also what if there is more than one data set needed in the email blade? How would this get passed in?

See this issue [Batch Sending Mail Issue #50](https://github.com/Bogardo/Mailgun/issues/50)

Thank you

[2018-01-24 07:58] Dimidel opened #136 "[curl] 60: SSL certificate problem: unable to get local issuer certificate [url] https://api.mailgun.net/v2/myDomain/messages"
Hello,
Since 1 or 2 days, i'm encountering this error on an old Laravel 4.x :
**[curl] 60: SSL certificate problem: unable to get local issuer certificate [url] https://api.mailgun.net/v2/myDomain/messages**
Please can you help me ?
Thank you !

[2018-01-25 04:55] jhalak commented on #136
I am having the same issue here for last 2/3 days.

[2018-01-25 09:02] jhalak commented on #136
Hey @Dimidel, I have found a solution that works for me. I have replaced the `cacert.pem` file located in `vendor/guzzle/guzzle/src/Guzzle/Http/Resources/` directory with the new one downloaded from here `https://curl.haxx.se/ca/cacert.pem`.

`cd vendor/guzzle/guzzle/src/Guzzle/Http/Resources/`
`mv cacert.pem cacert.pem.old` `//-> just as a backup`
`wget https://curl.haxx.se/ca/cacert.pem`

That w

[2018-01-25 09:08] Dimidel commented on #136
Thank you @jhalak. I will try your solution.

[2018-01-25 09:17] #136 closed

[2018-03-23 11:44] ivankape opened #137 "FatalErrorException in Facade.php line 215 Service::failures()"
Hi,

I successfully sending out an email, but my web page throw an error:

FatalErrorException in Facade.php line 215: Call to undefined method Bogardo\Mailgun\Service::failures()

But, like I said before, the email is sent! which is weird because if so, what went wrong?

[2018-03-27 21:26] #110 closed

[2018-03-27 21:30] Bogardo commented on #133
Hi @Oreolek.
This package (currently) does not support the Storage API, its main purpose is for _sending_ emails.

[2018-03-27 21:30] #133 closed

[2018-03-27 21:34] #122 closed

[2018-03-27 21:35] #115 closed

[2018-03-27 21:55] abbatis commented on #130
Please check if your configuration is set-up according to documentation. Make sure your API-keys, domain and from-address are set-up.

Configuring your Mailgun account is out of scope for this project.

[2018-03-27 21:55] #130 closed

[2018-03-28 21:01] Bogardo commented on #123
All values send with the `data()` method are being encoded to JSON as you can see here:

In the Mailgun Library:
https://github.com/mailgun/mailgun-php/blob/master/src/Mailgun/Messages/MessageBuilder.php#L482

And in the API Documentation:
https://documentation.mailgun.com/en/latest/user_manual.html#attaching-data-to-messages

[2018-03-28 21:01] #123 closed

[2018-04-01 14:45] fvhockney commented on #120
Declare
`$view = $this->markdown('yourMarkdownView');
Mailgun::send($view, $data, $callback);`

Laravel 5.5

[2018-04-16 12:38] #117 closed

[2018-04-16 12:41] abbatis commented on #121
Please refer to this issue https://github.com/mailgun/mailgun-php/issues/376

[2018-04-16 12:41] #121 closed

[2018-04-16 12:45] abbatis commented on #127
Please read this part of the documentation https://github.com/Bogardo/Mailgun#guzzle-6-example-implementation

[2018-04-16 12:45] #127 closed

[2018-04-17 05:21] Mohankumar28 opened #138 "ErrorException (E_NOTICE) Trying to get property of non-object"
public function __construct(stdClass $response)
    {
        $this->status = $response->http_response_code;
       **[** $this->message = $response->http_response_body->message;**]**
        $this->id = property_exists($response->http_response_body, 'id') ? $response->http_response_body->id : '';
        $this->data = null;
    }

[2018-05-06 12:13] dukesnuz commented on #50
I am trying to accomplish same as @dustingraham . I want to use ```recipientVariables```
My question is:
If all email addresses are in and array, How do I pass them into here?
[code]

[2018-05-09 12:47] dukesnuz commented on #120
@fvhockney Thank you for the fix to this.
I am also trying to use markdown. When I use @fvhockney fix I get the following error.
```Method [markdown] does not exist on [App\Http\Controllers\Admin\EmailController].```

Would anyone happen to have any ides as to a fix fr this?
Thank you

[2018-05-09 13:39] fvhockney commented on #120
My apologies...I forgot to come back and update this after finding a bug...

I've successfully got it working, but it was quite an ordeal. In rather broad strokes:

#### Create a new email View
This allows you to have access to the various `'mail::` components that laravel has in its vendor folders

#### Create a custom `Mailable` class
This allows you to pass the data from your form into the View

[2018-05-09 20:25] dukesnuz commented on #120
@fvhockney Thank you very much, going to try and get this working now.

[2018-05-10 16:03] dukesnuz commented on #120
Using ```Mailgun::api``` is not working. I am not getting any errors though the emails are not going out. so I am using ```Mailgun::send``` except then I get an error. The entire html code  is displayed as the error.  Any insight would be appreciated.

I am using code similiar to [issue #11](https://github.com/Bogardo/Mailgun/issues/11)

Thank you

[2018-05-11 23:44] dukesnuz commented on #120
@fvhockney Hi Thank you for your information. I believe I almost have my code working. A question I have is, will recipient variables work using your example?

Thank you

[2018-05-14 00:01] dukesnuz opened #139 "Using Markdown With Recipient Variable with Batch Sending"
My objective is to  use batch sending with recipient variables and mardown.
Should this code work?

[code]

[2018-05-14 06:17] jaltfeld opened #140 "Clarification please regarding handling of http_response_body content and possibly guzzle and/or env setting?"
Hi @Bogardo   and/or anyone who can help,

I installed `Bogardo/Mailgun` (with `"php-http/guzzle6-adapter": "^1.1"`) to my Laravel 5.3 project according to the github instructions at the time of this message, BUT only after installing `mailgun/mailgun-php` (with `"guzzlehttp/psr7": "^1.4"` and `"guzzlehttp/guzzle": "^6.3"`)...

Initially I was using the `$mg->messages()->send($domain, $params);` f

[2018-05-31 00:05] hkmsadek opened #141 "Undefined Method error"
I am getting this error `Call to undefined method Mailgun\Mailgun::send()`
do anyone have a tutorial how this package is set up? There are few dependency of this package. May be I messed up with something.

[2018-06-05 21:28] periplox opened #142 "Type error: Argument 1 passed must be an instance of App\Http\Controllers\Message"
Hey guys, I got an error when trying to send a mail witha fairly basic example:

    Mailgun::send('email.main', $art_data, function(Message $message){
        $message->to("xxxx@xxxx.com");
    });

The error message:

``Type error: Argument 1 passed to App\Http\Controllers\ArticleController::App\Http\Controllers\{closure}() must be an instance of App\Http\Controllers\Message, instance of Bogardo

[2018-06-06 13:40] periplox commented on #142
Ok, i finally figure it out. I was instantiating the wrong Message class.

Thanks!

[2018-06-06 13:40] #142 closed

[2018-06-13 12:43] shiroamada opened #143 "Example send email to mailing list"
Hi,

Can you add example send to send email to mailing list email.
I create a mailing list in mailgun. my_first_list@example.com (this is just for mail listing, in my mail server it does not exist).

I added 2 emails (outside from this mailgun domain) in this mailing list.

And I send out
[code]

In mailgun log, it show accept and success. But my two emails did not receive any email.

Anything I m

[2018-06-14 14:48] shiroamada commented on #143
OK, I found the issue. It is due to I did not set the MX record in my DNS. In order for the mailing list work, it has to do with the MX Record.

So what I had done was create a subdomain and added MX record. My primary domain is used by other mail provider so I can't set it.

[2018-06-14 14:48] #143 closed

[2018-07-07 23:53] csimpi commented on #109
Thank you for this lib, it's awesome!
Mailgun is mostly about sending emails from different domains, I'd request a feature.
I think there should be a
`$message->domain('mycustomdomain.com');`
method to change the domain on the fly. Changing the domain in the configuration file a bit hacky feeling, I'm not completely comfortable with this.
Thank you 🙏

[2018-07-08 02:30] csimpi commented on #140
I'm getting the same, I guess Mailgun response structure has been changed in the meantime. Is this an abandoned project? I can't get it to work at all.

[2018-07-08 03:21] csimpi opened #144 "Troubles with the API request, deprecated usable of mailgun-php lib"
It seems this project has been abandoned and doesn't really works with the new version of mailgun api.
I'm not sure about this, but I couldn't make it work, I'm getting `Mailgun Magnificent API` response after any API request that this wrapper sends through Mailgun API.

I modified the package on my local and added some debugging, the configuration seems to be okay.

When I opened the https://gith

[2018-07-09 10:07] azwel commented on #144
@csimpi this project does work.
The response `Trying to get property of non-object" on line 37 of .../vendor/bogardo/mailgun/src/Http/Response.php` is caused by invalid config settings from `config/mailgun.php` file which by default seems not to utilize the `.env` settings.
Quick fix:
`    /*
     * Domain name registered with Mailgun
     *
     */
    'domain' => env('MAILGUN_DOMAIN'),

    /*

[2018-07-09 19:58] csimpi commented on #144
Great news! Thank you for the clarification.
I added the details to the env file only as the documentation says.  I supposed those vars are coming directly from the env file, not through the mailgun config file.

I think you should change the documentation about the default/published config file difference, there are a couple of similar tickets regarding this issue, without any answer.

Finally, I

[2018-07-09 20:34] csimpi commented on #140
@jaltfeld I've got the answer here:
https://github.com/Bogardo/Mailgun/issues/144#issuecomment-403428850

[2018-07-12 18:29] jaltfeld commented on #140
@csimpi Hey thanks a lot for looping me in on that answer - I ended up moving on from the bogardo mailgun package for a more hand made workaround a while back but if I end up working with it again (which I may, now that you've given me this piece of information), then I'll know the genuine solution - thanks!

[2018-07-12 18:29] #140 closed

[2018-07-27 17:20] rampol opened #145 "."

[2018-07-27 18:05] rampol commented on #145
Edit: I've managed to make it work modifying `getMessage()` from `Message.php`:
           ` $message['recipient-variables'] = json_encode($this->variables, JSON_NUMERIC_CHECK);`

I thought the problem was related to doubled escaped quotes (parameters must pass somewhere through 2 json_encode). I can't understand why this modification makes it work, though parameters still appear double escaped.

[2018-07-27 18:18] #145 closed

[2018-09-05 13:04] jni-heyloyalty opened #146 "Trying to get property of non-object"
[2018-09-05 12:57:24] local.ERROR: exception 'ErrorException' with message
'Trying to get property of non-object' in /vagrant/api/vendor/bogardo/mailgun/src/Http/Response.php:37

    public function __construct(stdClass $response)
    {
        $this->status = $response->http_response_code;
        $this->message = $response->http_response_body->message;  // Line 37
        $this->id = property_ex

[2018-09-06 02:01] martsie commented on #146
I faced the same issue.

There's an error in the documentation for this module because it says to publish the config but also to edit .env file and use either. The problem is if you publish the config it'll use that instead of the .env variables you set.

Try setting the variables in your mailgun.php file and make sure the domain is correct and see if that helps.

[2018-09-13 15:46] grenadecx opened #148 "Update nesbot/carbon dependency"
Is it possible to update the nesbot/carbon dependency for this project?

I'm not sure of the implications, but I took a quick look through the project and it seems that it would be fine to update it, from what I can tell, the newer carbon versions have the same api that is being used here.

I would greatly appreciate it anyways, since newer nesbot/carbon have a lot more useful features.

Updating

[2018-12-05 20:44] dimasx010 commented on #115
in laravel v 5.7 need install

` composer require php-http/guzzle6-adapter ^1.0`

add in providers

[code]
And finally

`php artisan vendor:publish --provider="Bogardo\Mailgun\MailgunServiceProvider" --tag="config"`

Gracias Totales

[2018-12-20 07:33] Resin01 opened #149 "Cannot install php-http/guzzle6-adapter"
After installing mailgun I am not able to install php-http/guzzle6-adapter

I get the following error

[code]

I am using mailgun 5.0.4

[2018-12-20 07:47] Resin01 commented on #149
Was able to fix it using.

[code]
Perhaps the documentation should be updated ?

[2018-12-20 08:03] Sinnbeck opened #150 "Switching endpoint"
Currently mailgun does not support email validation on the eu api endpoint (and don't plan to).
Is there any plans of allowing switching endpoint for validation purposes? It would seem that this is a needed feature for all eu users.

[2019-02-01 03:47] JCarlosR commented on #139
David, did you find any solution?

I don't want to rewrite my markdown view into HTML.

[2019-02-01 03:49] JCarlosR commented on #149
I had to do the same, and I was about to advise. You already did it.

[2019-02-13 12:29] Resin01 opened #151 "Using full api from mailgun-php"
Had some issues with using the full api implementation in mailgun-php, but got it working by setting up Guzzle correctly. This allows you to use the full API on this page through Mailgun::api()

https://github.com/mailgun/mailgun-php/blob/master/doc/index.md

The updated code for the service provider
[code]

Hope this helps someone

[2019-04-15 14:40] johannesschobel commented on #150
did you manage to solve this issue @Resin01 ? I am currently in the same position - need to switch from `US` to `EU`. Any success so far?
All the best

[2019-04-15 15:12] johannesschobel commented on #150
ok @Resin01 , i figured it out.. you can simply change the `api.endpoint` parameter in the `mailgun.php` config file! Thats basically all you need to do..
Change it from `api.mailgun.com` to `api.eu.mailgun.com` and you're ready to go!

[2019-05-31 23:20] connecteev commented on #148
+1
This doesn't work with Laravel 5.8 without nesbot/carbon v 2.19

[2019-06-05 16:09] Fab-Miami opened #153 "Install on Laravel 5.8?"
Is it possible to install this package on 5.8?
Carbon 2.x is not accepted....

If somebody managed to install on 5.8, please explain me how to do that.

Thanks
FAB

[2019-06-05 16:37] chrisrollins65 commented on #153
Looks like composer isn't seeing the latest release that Bogardo made yesterday... Not sure why. Maybe it just needs time to update its repository?

[2019-06-05 17:16] Fab-Miami commented on #153
idk, this is very weird.... composer.json seems OK in the repo. So why isn't it working?
I'm not super familiar with composer. Is there a way to update my local composer.json (taking into account carbon ^2.0 and then just run a simple "composer update"?

[2019-06-06 06:52] chrisrollins65 commented on #153
The problem isn't with the composer.json... Composer itself doesn't see the newest release. Bogardo's latest release is version 5.1.0, but Composer only sees up to 5.0.4. If you run `composer require bogardo/mailgun:5.1.0` you'll see that Composer can't find it. Yet it's clearly here in github. Maybe Bogardo needs to manually push this new release to Packagist, or maybe it just takes a while for P

[2019-06-06 13:41] Fab-Miami commented on #131
Same issue!
Did you figure out a solution (I know, was 18 months ago... but still ^^)

[2019-06-06 14:26] Fab-Miami commented on #131
OK, I figured it out:
foreach ($mailing->recipient as $key => $recipient) {
            $recipients[$recipient->email]=  array( 'first_name' => $recipient['first_name'], 'last_name' => $recipient['last_name'] );
        }

[2019-06-06 16:13] joydipnath commented on #131
Yes, I got the solution. Thanks a lot for your suggestion.

[2019-06-11 14:32] D-sense opened #154 "ERROR when passing a variable to to()"
Hi,

I get an error each time I try passing a variable to the to().
Example:
->to($user_email_address, 'John Doe')

Is there any way around this?
Thanks

[2019-06-12 01:25] vesper8 opened #155 "new release 5.1.0 with Carbon 2 is not available via composer and isn't on packagist"
Hi @Bogardo, I really appreciate that you took the time to tag a new release with the Carbon 2 update, however it looks like it isn't tagged properly because I can't install it via Composer `"bogardo/mailgun": "^5.1.0"` and Packagist does not show anything about this new release either https://packagist.org/packages/bogardo/mailgun

Could you please check to see what went wrong? Thanks!

[2019-06-19 06:16] connecteev commented on #88
Same. Issue's still happening.

OneStepAtATime:kb_skins kunalpunjabi$ composer require php-http/guzzle6-adapter
Using version ^2.0 for php-http/guzzle6-adapter
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion:

[2019-06-19 11:16] connecteev opened #156 "Error installing this package on Laravel 5.8 (clunky workaround included...can we fix the package?)"
Error installing this package on Laravel 5.8 (clunky workaround included...can we fix the package?)

Followed the instructions in the README and it just refused to work. This is what I had (at first) in my composer.json:
[code]
On running the commands in the https://github.com/Bogardo/Mailgun#http-client-dependency section, I saw this error:
[code]

I then did the following (actually tried several

[2019-06-19 11:31] connecteev commented on #156
Just discovered an even cleaner solution:
Actually don't need this in the composer.json at all:
[code]

But php-http/guzzle6-adapter is required:
[code]

[2019-06-19 11:33] connecteev commented on #155
@vesper8 hi again! can you try this and see if it works for you? It did for me. https://github.com/Bogardo/Mailgun/issues/156

[2019-06-19 11:33] connecteev commented on #153
@Fab-Miami can you try this and see if it works for you? It did for me. https://github.com/Bogardo/Mailgun/issues/156

[2019-06-19 11:35] connecteev commented on #151
@Resin01 what do you think of this approach instead? This worked for me.
https://github.com/Bogardo/Mailgun/issues/156

[2019-06-19 12:18] connecteev commented on #135
@dukesnuz did you figure this out?

I am trying to figure out how to pass $users into Mailgun::send() and the closure
[code]

I keep hitting a wall with:
[code]

[2019-06-19 12:21] connecteev commented on #135
@Bogardo stuck on this and would really appreciate an example here on how to batch send to 1000 emails with one API call, while passing an array of 1000 data points into the email template.

[2019-06-25 12:41] Resin01 commented on #151
I am unsure what the improvement is ? Without guzzle being setup as specified, the API work work (at least it doesnt for me)

[2019-09-02 06:10] cosmini commented on #154
You'll have to use inheritance see anonymous functions here https://www.php.net/manual/en/functions.anonymous.php

Step 3 is what you're after

[code]

Note the keyword `use`

[2019-09-02 06:26] cosmini commented on #135
You have to mention that your local variable is being used by the anonymous function with `use`

[code]

But this approach is not sending batch! This sending same email to 1000 recipients.

[2019-09-02 07:34] Bogardo commented on #135
Have you tried using recipient variables?

https://github.com/Bogardo/Mailgun/issues/50#issuecomment-127639254

[2019-09-04 17:48] MarceloSantosCorrea opened #158 "Upgrade Laravel 6"

[2019-09-05 12:08] #135 closed

[2019-09-14 23:05] issamkhalifi opened #159 "Unable to install php-http / guzzle6-adapter in symfony 4.1"
Hello my friends
I use the symfony 4.1

when i try to install php-http / guzzle6-adapter

I receive an error

 In FileLoader.php line 168:

   Passing in the "body" request option as an array to send a POST request h

    been deprecated. Please use the "form_params" request option to send a a

   lication/x-www-form-urlencoded request, or the "multipart" request option

   o send a multipart/form

[2019-09-18 21:16] llbbl commented on #158
I got it working. Can have a look here until I can get rest tests working and submit a PR.

https://github.com/llbbl/Mailgun/blob/master/composer.json

[2019-09-19 15:43] sinetix commented on #158
Maybe you can make a PR?

[2019-09-28 17:41] saffabook opened #160 "Emails are not being sent or received."
Hi there.

I have installed and followed instructions as directed, everything fires and seems to work, however no emails are being sent or received. I am using sandbox settings locally.

I have this as a test
[code]
I had a look to see if its running and had a look at the mailer.php and the response is as below.

[code]
I have all the correct details in the .env file too, the mailgun set up also c

[2019-10-04 06:06] #160 closed

[2019-10-16 22:15] cosmini commented on #114
At the moment I'm using Mailgun postbin to retrieve content and test against it, but is very slow.
Would be amazing if it could support mocking.
Despite the fact that mailgun allows test mode, it doesn't help testing the mail data.

[2019-10-16 22:17] Bogardo commented on #114
@cosmini Couldn't you just mock the HTTP client?
https://github.com/Bogardo/Mailgun#http-client-dependency

[2019-10-16 22:20] #158 closed

[2019-10-16 22:23] #159 closed

[2019-10-16 22:25] #150 closed

[2019-10-16 23:16] cosmini commented on #114
i've tried to do something similar to what's in the library test case:
https://github.com/Bogardo/Mailgun/blob/master/tests/MailgunTestCase.php#L21

But I've got a whole new set of errors.

Perhaps it is possible to achieve this in other ways, but I'm using this library for convenience and to save time in development, having an easy way to test it would be a plus.

Thanks.

[2019-12-18 22:27] Giacomo92 opened #163 "Mailgun custom notification channel"
How can i use this package as [custom notification channel](https://laravel.com/docs/5.8/notifications#custom-channels)?

Something like this:
[code]

[2019-12-19 18:53] mirzahaseeb opened #164 "specific attachment to each recipient in batch emails"
i want to give array of attachment files where each file is related to one recipient in batch emails. for now we can send email to many recipients but attach file remains same for all emails. i have also posted same issue on mailgun-php.